= provide(:title, 'All groups')
%h1 All groups
%ul
  - @groups.each do |group|
    %li= group.name
    %li= group.description
    - if current_user && current_user.admin? && !current_user?(@user)
      %li= link_to("delete", group_path(group), method: :delete, data: { confirm: 'Are you sure?' } )
      %li= link_to("edit", edit_group_path(group))
