= provide(:title, 'Edit user')
%h1 Update profile
= form_for(@user) do |f|
  = render 'shared/error_messages', object: f.object
  = f.label :login
  = f.text_field :login
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation, "Password Confirmation"
  = f.password_field :password_confirmation
  = f.submit "Save changes"

  = gravatar_for(@user)
  = link_to "change", 'http://gravatar.com/email'
