= provide(:title, @user.login)
= gravatar_for(@user)
= "#{@user.login}, #{@user.email}"
- if @user.groups.any?
  %ul= "belongs to groups:"
  - group_list(@user).each do |key, value|
    %li= link_to(value, group_path(key))
- if current_user && current_user.admin?
  %ul= "Add to group"
  - @groups.each do |group|
    %li= group.name
    - if @user.groups.ids.include?(group.id)
      = link_to("remove", user_group_remove_path(@user.id, group.id), method: :post)
    - else
      = link_to("add", user_group_add_path(@user.id, group.id), method: :post)
