%header
  .containter
    = link_to "Radio Afera", root_path, id: 'logo'
    %nav
      %ul
        %li= link_to "Home", root_path
        %li= link_to "People", groups_path
        %li= link_to "Aferzasta", "#"
        %li= link_to "Program", "#"
        %li= link_to "Muzyka", music_path
        %li= link_to "Studio nagraniowe", "#"
        %li= link_to "O nas", about_path
        %li= link_to "Reklama", "#"
        %li= link_to "Kontakt", contact_path
        %li= link_to "PRA", "#"
        - if signed_in?
          %li= link_to "Profile", current_user
          %li= link_to "Settings", edit_user_path(current_user)
          %li= link_to "Sign out", signout_path, method: "delete"
        - else
          %li= link_to "Sign in", signin_path
